<h3>  
  
  <%= @payslips.id %> 
  <%= @payslips.employee.name %>
  <%= @payslips.employee.status %>
  <%= @payslips.employee.no_of_dependents %>
  <%= @payslips.employee.account_no %>
  <%= @payslips.employee.bank %>
  <%= number_to_currency payslip.base_salary, unit: "PHP " %>
  <%= @payslips.sss %>
  <%= @payslips.pagibig %>
  <%= @payslips.philhealth %>
  <%= @payslips.payroll.start_period %>
  <%= @payslips.payroll.end_period %>
  <% @payslips.employee.reimbursements.each do |reimbursement| %>
    <%= reimbursement.category %> <br/><%= reimbursement.amount %> <br /> <% end %>
  Paid? <%= @payslips.paid %>
  <%= number_to_currency payslip.sss, unit: "PHP " %>
  <%= number_to_currency @monthly_salary, unit: "PHP " %>
  <%= number_to_currency @employer, unit: "PHP " %>



</h3>