<h1>Payslips(<%= @payslips.id %>)</h1>
<h3>  
  
  <div>
     

    <div class="Employee_data"> Employee name </div>
      <div class="Employee_name">
      <%= @payslips.employee.name %><br/>
      <% if @payslips.employee.no_of_dependents = 0 %>
      <%= @payslips.employee.status %>, No Dependents 
      <% else %>
      <%= @payslips.employee.no_of_dependents %>, dependent(s)
      <% end %>
      </div>
      
      <table class="table_payslip" >
       <thead>
         <tr>
           <th>Payslip period</th>
           <th>&nbsp;</th>
           <th>&nbsp;</th>
           <th><%= @payslips.payroll.start_period %> to <%= @payslips.payroll.end_period %></th>
         </tr>

         <tr>
           <th>Base Salary</th>
           <th>&nbsp;</th>
           <th><%= number_to_currency payslip.base_salary, unit: "PHP " %></th>
           <th>&nbsp;</th>
         </tr>
         <tr>
            <th>SSS</th>

           <th>&nbsp;</th>
           <th>&nbsp;</th>
           <th><%= number_to_currency payslip.sss, unit: "PHP " %></th>
         </tr>
         <tr>
           <th>PAGIBIG</th>
           <th>&nbsp;</th>
           <th>&nbsp;</th>
           <th><%= number_to_currency payslip.pagibig, unit: "PHP " %></th>
         </tr>


         <tr>
           <th>Philhealth</th>
           <th>&nbsp;</th>
           <th>&nbsp;</th>
           <th><%= number_to_currency payslip.philhealth, unit: "PHP " %></th>
         </tr>
         
         <tr>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
         </tr>

         <tr >
           <th>Allowances</th>
           <% @payslips.employee.allowances.each do |allowance| %> 
            <% if @payslips.employee.allowances.count > 1 %>
             <tr>
             <th>Description: </th>
             <th><%= allowance.description %> <br/></th>
             <th><%= number_to_currency allowance.amount, unit: "PHP " %> <br /></th>
             <th> &nbsp; </th>
             </tr>
            <% else %>
            <tr>
             <th>Description: </th>
             <th><%= allowance.description %> <br/></th>
             <th><%= number_to_currency allowance.amount, unit: "PHP " %> <br /></th>
             <th> &nbsp; </th></tr> <% end %>
            <% end %>
         </tr>
         <th></th>
            <th> <%= link_to "Add new allowance?", new_user_allowance_path %></th>
            <th> &nbsp; </th>
            <th> &nbsp; </th>

         <tr>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
         </tr>

         <tr>
           <th>Reimbursements</th>
           <% @payslips.employee.reimbursements.each do |reimbursement| %> 
            <% if @payslips.employee.reimbursements.count > 1 %>
             <tr>
             <th>Category: </th>
             <th><%= reimbursement.category %> <br/></th>
             <th><%= number_to_currency reimbursement.amount, unit: "PHP " %> <br /></th>
             <th> &nbsp; </th>
             </tr>
            <% else %>
            <th></th>
            <tr>
             <th>Category: </th>
             <th><%= reimbursement.category %> <br/></th>
             <th><%= number_to_currency reimbursement.amount, unit: "PHP " %> <br /></th>
             <th> &nbsp; </th></tr> <% end %>
            <% end %>
            <th> <%= link_to "Add new reimbursement?", new_user_reimbursement_path %> </th>
            <th> &nbsp; </th>
            <th> &nbsp; </th>
         </tr> 
           

         <tr>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
         </tr>

          <tr>
           <th>Witholding Tax</th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th><%= number_to_currency @withholding_tax, unit: "PHP " %></th>
         </tr>


         <tr>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
         </tr>


         <tr>
           <th>Adjustments (Less)</th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <% @payslips.employee.nope_adjustments.each do |nope_adjustment| %> 
            <% if @payslips.employee.nope_adjustments.count > 1 %>
             <tr>
             <th>Description: </th>
             <th><%= nope_adjustment.description %> <br/></th>
             <th> &nbsp; </th>
             <th><%= number_to_currency nope_adjustment.amount, unit: "PHP " %> <br />
             </th>
             </tr>
            <% else %>
            <tr>
             <th>Description: </th>
             <th><%= nope_adjustment.description %> <br/></th>
             <th><%= number_to_currency nope_adjustment.amount, unit: "PHP " %> <br /></th>
             <th> &nbsp; </th></tr> <% end %>
            <% end %>
         </tr>
         <th></th>
            <th> <%= link_to "Add new adjustment (less)?", new_user_nope_adjustment_path %></th>
            <th> &nbsp; </th>
            <th> &nbsp; </th>

         
         <tr>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
         </tr>

         <tr>
           <th>Adjustments (Plus)</th>
           <% @payslips.employee.dope_adjustments.each do |dope_adjustment| %> 
            <% if @payslips.employee.dope_adjustments.count > 1 %>
             <tr>
             <th>Description: </th>
             <th><%= dope_adjustment.description %> <br/></th>
             <th><%= number_to_currency dope_adjustment.amount, unit: "PHP " %> <br />
             <th> &nbsp; </th>
             </th>
             </tr>
            <% else %>
            <th>Description: <%= dope_adjustment.description %> <br/></th>
            <th><%= number_to_currency dope_adjustment.amount, unit: "PHP " %> <br /></th><th> &nbsp; </th></tr> <% end %>
            <% end %>
         </tr>
         <th></th>
            <th> <%= link_to "Add new adjustment (plus)?", new_user_dope_adjustment_path %></th>
            <th> &nbsp; </th>

         <tr class="Final">
           <th >Final</th>
           <th> &nbsp; </th>
           <th> &nbsp; </th>
           <th><%= number_to_currency @final_pay, unit: "PHP " %></th>
         </tr>

         <tr>
           <th >&nbsp;</th>
           <th> &nbsp; </th>
           <th> Paid? </th>
           <th>
           <% if !payslip.paid%>
           <%= link_to "false", toggle_paid_user_payslip_path, :method => :toggle_paid, data: { confirm: "Paid?" } %>
           <% else %>
           <%= link_to "true", toggle_paid_user_payslip_path, :method => :toggle_paid, data: { confirm: "Not yet Paid?" } %>
           <% end %>
           </th>
         </tr>


         
       </thead>
        
      </table>
      
    </div>
    
  </div>



</h3>