<% provide(:title, "Edit user") %>
<h1>Update your Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "Birthday:" %>  
      <%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year - 15 %>

      <%= f.label :contact_no, "Contact Number" %>
      <%= f.text_field :contact_no, class: 'form-control' %>

      <%= f.label :account_no, "Account Number" %>
      <%= f.text_field :account_no, class: 'form-control' %>

      <%= f.label :bank, "Bank" %>
      <%= f.text_field :bank, class: 'form-control' %>

      <%= f.label :base_salary, "Base Salary" %>
      <%= f.text_field :base_salary, class: 'form-control' %>

      <%= f.label :no_of_dependents, "No. of Dependents" %>
      <%= f.text_field :no_of_dependents, class: 'form-control' %>

      <%= f.label :status %>
      <%= select(:user, :status, 
      [['Single', "Single"], ['Married', "Married"]] )%>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>