<% provide(:title, 'Employees') %>
<h1>Employees</h1>


<div class="search_bar">
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Employees <Enter Name>" %>
<%= submit_tag "Search" %>
<% end %>
</div>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
    <br>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	  <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
