<% provide(:title, 'Sign up') %>
<% if logged_in? && current_user.admin? %>

<h1>Sign up</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "Birthday:" %>  
      <%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year - 15, class: 'form-control' %>

      <%= f.label "Date Hired:" %>  
      <%= f.date_select :date_hired, :order => [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year, class: 'form-control' %>

       <% if current_user.admin? %>
      <%= f.label :position %>
      <%= select(:user, :status, [['Trainee', "Trainee"], ['Regular', "Regular"]], class: 'form-control' )%>
      <% end %>

      <%= f.label :job, "Job:" %>
      <%= f.text_field :job, class: 'form-control' %>

      <%= f.label :contact_no, "Contact Number" %>
      <%= f.text_field :contact_no, class: 'form-control' %>

      <%= f.label :account_no, "Account Number" %>
      <%= f.text_field :account_no, class: 'form-control' %>

      <%= f.label :sss_no, "SSS Number" %>
      <%= f.text_field :sss_no, class: 'form-control' %>

      <%= f.label :philhealth_no, "Philhealth Number" %>
      <%= f.text_field :philhealth_no, class: 'form-control' %>

      <%= f.label :pagibig_no, "Pag-ibig Number" %>
      <%= f.text_field :pagibig_no, class: 'form-control' %>

      <%= f.label :tin_no, "TIN Number" %>
      <%= f.text_field :tin_no, class: 'form-control' %>

      <%= f.label :bank, "Bank" %>
      <%= f.text_field :bank, class: 'form-control' %>

      <%= f.label :base_salary, "Base Salary" %>
      <%= f.text_field :base_salary, class: 'form-control' %>

      <%= f.label :no_of_dependents, "No. of Dependents" %>
      <%= f.text_field :no_of_dependents, class: 'form-control' %>

      <%= f.label :status %>
      <%= select(:user, :status, [['Single', "Single"], ['Married', "Married"]], class: 'form-control' )%>

      <%= f.label "Admin?", class: 'admin' %>
      <%= f.check_box :admin, class: 'check_box_admin' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <br><br>
            <%= link_to "Create users from the users.csv file?", 
            users_from_file_path, :method => :create_csv, data: { confirm: "Create Users?" }, class: "btn btn-primary btn-block" %>
  </div>
</div>
<% end %>
