<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        
        <%= @user.username %>
        
      </h1>


      
    </section>

  </aside>

  

  <% if logged_in? && current_user.admin? %>
  
 	<%= form_tag(new_user_reimbursement_path(user_id: @user.id), :method => "get", class: "add_reimbursement") do %>
 	  
      <%= submit_tag "Add new Reimbursement"%>


      <%= select(:reimbursement, :category, 
      [['Reimbursements', "Reimbursements"], ['Allowances', "Allowances"], ['(+)Adjustments', "(+)Adjustments"], ['(-)Adjustments', "(-)Adjustments"]]) %>

    <% end %>

  <% end %>


  

  <div class="col-md-8">

    
            <% if @user.reimbursements.any? %>
            <h3> Reimbursements </h3>
            <ol class="reimbursements">
            <%= render @reimbursements %>
            </ol>
            <% end %>

    </div>
  

   <!-- <button type="button" onclick="alert('Hello world!')">Click Me!</button> -->


</div>

