<h1> Employee Profile </h1>

<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        
        <div class="profile">
        <%= @user.name %></br>
        <%= @user.status %></br>
        Number of Dependents: <%= @user.no_of_dependents %></br>
        <%= @user.position %>
        </div>
        <br/><br/>

      </h1>


      
    </section>

  </aside>

  
  <table class="user_data">
   <tr>
     <td> <b>Date Hired:</b>  </td>
     <td> <%= @user.date_hired %> [<%= @hired_status %> Months ago] </td>
   </tr>

   <tr>
     <td> <b>Position:</b>  </td>
     <td> <%= @user.position %> </td>
   </tr>

   <tr>
     <td> <b>Job: </b>  </td>
     <td> <%= @user.job %> </td>
   </tr>

   <tr>
      <td> <b>Date of Birth:</b>  </td>
      <td> <%=  @user.birthday %></td>
   </tr>

   <tr>
      <td> <b>Address:</b>  </td>
      <td> <%=  @user.address %></td>
   </tr>

   <tr>
      <td> <b>Contact Number:</b>  </td>
      <td> <%=  @user.contact_no %></td>
   </tr>

   <tr>
      <td> &nbsp;  </td>
      <td> &nbsp;  </td>
   </tr>

   <tr>
      <td> <b>SSS Number:</b>  </td>
      <td> <%=  @user.sss_no %></td>
   </tr>

   <tr>
      <td> <b>Philhealth Number:</b>  </td>
      <td> <%= @user.philhealth_no %></td>
   </tr>

   <tr>
      <td> <b>Pagibig Number:</b> </td>
      <td> <%= @user.pagibig_no %></td>
   </tr>

   <tr>
      <td> <b>Tin Number:</b>  </td>
      <td> <%= @user.tin_no %></td>
   </tr>

    <tr>
      <td> <b>Bank / Account Number:</b>  </td>
      <td> [<%= @user.bank %>]&nbsp;<%= @user.account_no %></td>
   </tr>

   <tr>
      <td> &nbsp;  </td>
      <td> &nbsp;  </td>
   </tr>

   <tr>
      <td> <b>Base Salary:</b>  </td>
      <td> <b><%= number_to_currency @user.base_salary, unit: "PHP " %></b></td>
   </tr>

   <tr>
      <td> &nbsp;  </td>
      <td> &nbsp;  </td>
   </tr>

   <tr>
      <td> <b>SSS Contribution:</b>  </td>
      <td> <b><%= number_to_currency @compute_sss, unit: "PHP " %></b> </td>
   </tr>

   <tr>
      <td> <b>Philhealth Contribution:</b>   </td>
      <td> <b><%= number_to_currency @philBracket, unit: "PHP " %></b></td>
   </tr>

   <tr>
      <td> <b>Pag-ibig Contribution:</b>   </td>
      <td> <b><%= number_to_currency @pagibigBracket, unit: "PHP " %></b></td>
   </tr>
   

  </table>

  <h2> <%= link_to "Edit Employee Data", edit_user_path(@user.id) %></h2>

  <h2> Check employee payslips:
    <% @user.payslips.each do |payslip| %>
    </br></br>
    <%= link_to "Payslip No: #{payslip.id}", user_payslip_path(@user.id, payslip.id) %>
    <% end %>
  </h2>
 
