<%= form_for(@payroll, url: payrolls_path, class: "form") do |f| %>
	<h4>Payroll cut-off</h4>
  <div><%= @payroll.errors.full_messages.join(", ") %></div>

	<%= f.label "From:" %>
	<%= date_select :payroll, :start_period %>

	<%= f.label "To:" %>
	<%= date_select :payroll, :end_period %>

	<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>