<h1>Payroll</h1>

<table style="width:100%">
  <caption>Period: <%= @payroll.start_period %> to <%= @payroll.end_period %></caption>
  <thead>
    <tr>
      <th bgcolor="black"></th>
      <th>Employees</th>
      <th>Account Number</th> 
      <th>Bank</th>
      <th>Base Salary</th>
      <th>Deductions</th>
      <th>Allowances, Reimbursements, Adjustments</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <% @payslips.each do |payslip| %>
      <tr>
        <td><%= link_to "View Payslip", user_payslip_path(payslip.employee.id, payslip.id) %></td>
        <td><%= payslip.employee.name %></td>
        <td><%= payslip.employee.account_no %></td>
        <td><%= payslip.employee.bank %></td>
        <td><%= number_to_currency payslip.base_salary, unit: "PHP " %></td>
        <td><%= number_to_currency payslip.sss, unit: "PHP " %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>