<h1>Payroll</h1>

<table style="width:100%" >
  <caption>Period: <%= @payroll.start_period %> to <%= @payroll.end_period %></caption>
  <thead>
    <tr>
      <th bgcolor="black"></th>
      <th>Employees</th>
      <th>Account Number</th> 
      <th>Bank</th>
      <th>Base Salary</th>
      <th>Deductions</th>
      <th>Allowances, Reimbursements, Adjustments</th>
      <th>Final</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @payslips.each do |payslip| %>
      <tr>
        <td><%= link_to "View Payslip", user_payslip_path(payslip.employee.id, payslip.id) %></td>
        <td><%= payslip.employee.name %></td>
        <td><%= payslip.employee.account_no %></td>
        <td><%= payslip.employee.bank %></td>

        <td><%= number_to_currency payslip.base_salary, unit: "PHP " %></td>

        <td id="deductions">SSS:<%= number_to_currency payslip.monthly_salary_sss, unit: "PHP " %>,</div> <br/>

        Philhealth: <%= number_to_currency payslip.monthly_salary_philhealth, unit: "PHP " %>, <br/> 

        Pagibig: <%= number_to_currency payslip.monthly_salary_pagibig, unit: "PHP " %>, <br/>

        Withholding Tax: <%= number_to_currency payslip.monthly_withholding_tax, unit: "PHP " %>, <br/>

        <br/>Less Adjustments: <br/>
        <% payslip.monthly_less_adjustments.each do |nope_adjustment| %>
         <%= number_to_currency nope_adjustment, unit: "PHP " %>, 
        <% end %>

        <br/>Total Less Adjustments: <%= number_to_currency payslip.monthly_total_less_adjustments, unit: "PHP " %><br/>


        <br/>Sum:&nbsp;<%= number_to_currency payslip.monthly_total_deductions, unit: "PHP " %>


        </td>



        <td id="deductions">

        <br/>Allowances: <br/>
        <% payslip.monthly_allowances.each do |allowance| %>
         <%= number_to_currency allowance, unit: "PHP " %>, 
        <% end %>

        <br/>Total Allowances: <%= number_to_currency payslip.monthly_total_allowances, unit: "PHP " %><br/>

        <br/>Reimbursements: <br/>
        <% payslip.monthly_reimbursements.each do |reimbursement| %>
         <%= number_to_currency reimbursement, unit: "PHP " %>, 
        <% end %>

        <br/>Total Reimbursements: <%= number_to_currency payslip.monthly_total_reimbursements, unit: "PHP " %><br/>

        <br/>Plus Adjustments: <br/>
        <% payslip.monthly_plus_adjustments.each do |dope_adjustment| %>
         <%= number_to_currency dope_adjustment, unit: "PHP " %>, 
        <% end %>

        <br/>Total Plus Adjustments: <%= number_to_currency payslip.monthly_total_plus_adjustments, unit: "PHP " %><br/>



        <br/>Sum:&nbsp;<%= number_to_currency payslip.monthly_total_ARA, unit: "PHP " %>


        </td>

        <td> <%= number_to_currency payslip.monthly_final_pay, unit: "PHP " %> </td>
        

        <td>
        <% if payslip.paid = "false" %>
          &nbsp;Unpaid&nbsp;
        <% else %>
          &nbsp;Paid&nbsp;
        <% end %>
        </td>


      </tr>
    <% end %>
    
  </tbody>
</table>