<% provide(:title, "Add new adjustment") %>
<h1>Add new adjustment</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(DopeAdjustment.new, url: user_dope_adjustments_path) do |f| %>
      <%= render 'shared/error_messages' %>

     
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :amount, "Amount" %>
      <%= f.text_field :amount, class: 'form-control' %>

      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>